<body>
    <br>
    <br>
    <main>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-sm-12 ">
                  <%= image_tag "programmer.gif" %>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div id="about">
                <div class="container">
                <h1 class="text-center aboutHeading">About Me</h1>
                <p class="aboutPG text-justify">
                    Welcome to my site! I am a professional with expertise in Javascript, Python, and Ruby programming languages, as well as data analytics, system architecture, web security, and system admin skills.<br>

                    My primary focus is on delivering high-quality, reliable, and scalable web applications that meet the needs of our clients. We use a variety of tools and technologies to achieve this, including Javascript, Python, and Ruby, as well as data analytics and system architecture techniques to ensure that our systems are optimized for performance and reliability.

                    In addition to our technical skills, we also have a strong focus on web security, ensuring that our systems are secure and protected from potential threats. We also have extensive experience in system administration, allowing us to manage and maintain complex systems with ease.

                    Overall, our team is dedicated to providing top-notch development services to our clients, and we look forward to working with you on your next project. 
                    <br>Thank you for considering me for your development needs!
                </p>
                </div>
            </div>
        </div>
    </main>
</body>