  <%= stylesheet_link_tag "style.css" %>
  <footer class="footer">
    <div class="container text-center">
      <span class="footer-text">Copyright © 2018 | All Rights Reserved</span>
    </div>
  </footer>